@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'cmu_n';
  src: url('/fonts/cmu_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_it';
  src: url('/fonts/cmu_it.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'georgia';
  src: url('/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_n';
  src: url('/fonts/times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'times_it';
  src: url('/fonts/times_it.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mont_n';
  src: url('/fonts/mont_n.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mont_it';
  src: url('/fonts/mont_it.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
